.header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.stop:hover {
    background-color: rgb(253, 255, 124);
}

.stop {
    font-size: 20px;
    background-color: rgb(147, 206, 255);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}