.routeInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(145, 145, 145);
    font-size: 18px;
    cursor: pointer;
}

.route {
    flex: 1;
    font-weight: bold;
}

.to {
    font-size: 12px;
}

.destInfo {
    flex: 4;
    text-align: start;
}

.dest {
    font-weight: bold;
}

.busStop {
    font-size: 14px;
}

.eta {
    color: rgb(31, 136, 255);
    font-weight: bold;
}

.etaUnit {
    font-size: 10px;
}

.expected {
    color: grey;
}

.divider {
    border-top: 3px solid red;
    margin: 0;
}

.modalInfo {
    padding: 1rem;
}

.threeEta {
    padding-left: 2rem;
}